<%= render "layouts/user_header" %>
<div class="center row">
  <h1>Nuevo aumento</h1>

  <%= render 'form' %>

  <%= link_to 'Atrás', payment_increases_path, class: "info button font-color left" %>
</div>
